body {
      font-family: 'Courier New', Courier, monospace;
      background-color: black;
      color: green;
      text-align: center;
      padding: 20px;
    }

    pre {
      color: green;

    }

    ln {
      font-weight: bold;
      color: green;
    }

button {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: green;
  border: 2px solid green;
  padding: 10px 20px;
  cursor: pointer;
  /* font-size: 16px; */
  box-shadow: none;
}
button:hover {
  background-color: green;
  color: black;
}